<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Welcome to site</h1>
<div class="wrapper">
    <div class="container">
        <div class="buttons">
            <a href="{% url 'price' %}" class="rout">
                <button>Price List</button>
            </a>
            <a href="{% url 'product' %}" class="rout">
                <button>View Products</button>
            </a>
            <a href="{% url 'Category_list' %}" class="rout">
                <button>Category</button>
            </a>
            <a>
            <a href="{% url 'register' %}" class="rout">
                <button>Registration</button>
            </a>
            </a>
            <a href="{% url 'about' %}" class="rout">
                <button>About</button>
            </a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>